
@{
    ViewBag.Title = "FED1 Studio Project";
}

<section class="background-gray-lightest">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
        <h1>@ViewBag.Title - Mathletes</h1>
                    <p><img src="~/Content/img/MathletesThumbnail.png" alt="Example blog post alt" class="img-responsive"></p>
        <p class="lead" style="text-align: center;"><a href="http://www.mathletes.kaylawin.com" target="_blank">mathletes.kaylawin.com</a></p>
    </div>
</section>
<section class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-content margin-bottom--big">
                    <p>
                        Using only HTML and CSS. For this project, I had to imagine that I am building a website for a small business that provides instructional courses in Mathematics. 
                    </p>
                    
                </div>
                <!-- /.post-content-->
            </div>
        </div>
    </div>
</section>

