@{
    ViewBag.Title = "Home";
}

<div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">

    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url('../../Content/img/tech-bg.jpg');" class="item active">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h1 class="super-heading">Kayla Nguyen</h1>
                <p class="super-paragraph">Full Stack Web Developer</p>
            </div>
        </div>
    </div>
</div>
<section class="background-gray-lightest negative-margin">
    <div class="container">
        <h1> About Me.</h1>
        <p class="lead">Hello! I'm a full stack web developer located in Kansas City, MO. Before entering the world of technology, I worked numerous customer service jobs and spent some time tutoring mathematics. Although tutoring satisfied my math-craving, I was tired of working odd jobs and not contributing to a more fulfulling career. I knew I wanted something more challenging and diverse. I found myself reaching out to my mentors who strongly recommended computer programming because of my ability to keep myself and my thoughts organized. I decided to take the leap and found it extremely easy to correlate the concepts of math to the concepts of coding.  </p>
        <p class="lead">Please continue exploring to learn more about me!</p>
        <p> <a href="@Url.Action("About", "Home")" class="btn btn-ghost">Continue exploring   </a></p>
    </div>
</section>