@{
    ViewBag.Title = "Home";
}

<div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">

    <!-- Wrapper for slides-->
    <div role="listbox" class="carousel-inner">
        <div style="background-image: url('../../Content/img/tech-bg.jpg');" class="item active">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h1 class="super-heading">Kayla Nguyen</h1>
                <p class="super-paragraph">Full Stack Web Developer</p>
            </div>
        </div>
    </div>
</div>
<section class="background-gray-lightest negative-margin">
    <div class="container">
        <h1> About Me.</h1>
        
        <img class="col-md-3" style="padding-left:0px;" src="~/Content/img/315478210_1164580417787475_2934072111245658298_n.jpg" />
        <p class="lead">
            Hello! Welcome to my personal website - where you can browse through my portfolio and learn more about me!
            <br /><br />
            As you may already know, my name is Kayla! I'm a full stack web developer based out of Kansas City, MO. Before entering the world of technology, I worked various customer service jobs and spent some time tutoring mathematics. Each position I took eventually made me feel bored and over-qualified. I was ready to contribute to a more fulfulling career. I knew I wanted something more challenging and diverse.
            <br /><br />
            I found myself reaching out to my mentors during a tough time in my life and had a conversation about a career in computer science due to my abilities to think independenly and persevere when faced with challenges. This conversation resparked my passion for learning and reminded me of my lost love for technology.
            <br /><br />
            Having no prior experience in coding, I made the decision to enroll into Centriq's accelerated training program for Full Stack Web Development. The program was challenging in just the right ways - I was able to give my brain some exercise while being organized and productive. During Centriq's program, we learned a few different coding languages at an intense pace. I picked up on development concepts fairly easily (being a math whizz helped a ton) and began to fall in love with coding. As of now, I am fully trained in front-end, middle tier, and back-end web development using the .NET stack. I am currently looking for a position that promotes growth in knowledge to start my career in the technology space. I know I can be a helpful team member and look forward to connecting!
        </p>
        <br />
        <p class="lead">Please click on the button below to view my resume and learn more about me! <br /></p>
        <p> <a href="@Url.Action("About", "Home")" class="btn btn-ghost">Continue exploring   </a></p>
    </div>
</section>