
@{
    ViewBag.Title = "Links";
}

@section stylesheets{
    <link href="~/Content/swiper/swiper-bundle.min.css" rel="stylesheet" />
}

<section class="background-gray-lightest">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
        <h1>@ViewBag.Title</h1>
        <p class="lead">Check out my Centriq Training Classmates!</p>
    </div>
</section>
<section class="blog-post">
    <div class="container">
        <section id="classmates" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                @*<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">*@
                @*<div class="swiper-wrapper">*@

                <div class="row">

                    <div class="testimonial-item col-md-3">
                        <a href="http://alexklee.net/" target="_blank"><img src="~/Content/img/classmates/noAvi.gif" class="testimonial-img" alt=""></a>
                        <h3>Alex Klee</h3>
                        <p>
                            <a href="http://alexklee.net/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/alex-klee-6b962a232/">LinkedIn</a>
                        </p>
                    </div>

                    <div class="testimonial-item col-md-3">
                        <a href="http://austinwallace.net/" target="_blank"><img src="~/Content/img/classmates/austinWallace.jfif" class="testimonial-img" alt=""></a>
                        <h3>Austin Wallace</h3>
                        <p>
                            <a href="http://austinwallace.net/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/aus-wallace/">LinkedIn</a>
                        </p>
                    </div>

                    <div class="testimonial-item col-md-3">
                        <a href="https://www.linkedin.com/in/benjaminjmcd/" target="_blank"><img src="~/Content/img/classmates/benjaminMcdaniel.jfif" class="testimonial-img" alt=""></a>
                        <h3>Benjamin McDaniel</h3>
                        <p>
                            <a href="">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/benjaminjmcd/">LinkedIn</a>
                        </p>
                    </div>

                </div>

                <div class="row">
                    <div class="testimonial-item col-md-3">
                        <a href="http://www.fountaincitydev.com" target="_blank"><img src="~/Content/img/classmates/connorDunn.jfif" class="testimonial-img" alt=""></a>
                        <h3>Connor Dunn</h3>
                        <p>
                            <a href="http://www.fountaincitydev.com">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/connor-dunn-396188233/">LinkedIn</a>
                        </p>
                    </div>
                    <div class="testimonial-item col-md-3">
                        <a href="https://www.linkedin.com/in/enrique-garcia1010/" target="_blank"><img src="~/Content/img/classmates/noAvi.gif" class="testimonial-img" alt=""></a>
                        <h3>Enrique Garcia</h3>
                        <p>
                            <a href="">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/enrique-garcia1010/">LinkedIn</a>
                        </p>
                    </div>
                    <div class="testimonial-item col-md-3">
                        <a href="https://www.linkedin.com/in/ian-mcclaflin-982755232/" target="_blank"><img src="~/Content/img/classmates/ianMcclaflin.jfif" class="testimonial-img" alt=""></a>
                        <h3>Ian McClaflin</h3>
                        <p>
                            <a href="">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/ian-mcclaflin-982755232/">LinkinIn</a>
                        </p>
                    </div>


                </div>

                <div class="row">
                    <div class="testimonial-item col-md-3">
                        <a href="https://www.jazminerizo.com/" target="_blank"><img src="~/Content/img/classmates/jazmineRizo.jfif" class="testimonial-img" alt=""></a>
                        <h3>Jazmine Rizo</h3>
                        <p>
                            <a href="https://www.jazminerizo.com/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/">LinkedIn</a>
                        </p>
                    </div>

                    <div class="testimonial-item col-md-3">
                        <a href="http://projectpeacock.net/" target="_blank"><img src="~/Content/img/classmates/justinPeacock.jfif" class="testimonial-img" alt=""></a>
                        <h3>Justin Peacock</h3>
                        <p>
                            <a href="http://projectpeacock.net/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/">LinkedIn</a>
                        </p>
                    </div>
                    <div class="testimonial-item col-md-3">
                        <a href="http://www.mattroberts-dev.com" target="_blank"><img src="~/Content/img/classmates/mattRoberts.jfif" class="testimonial-img" alt=""></a>
                        <h3>Matthew Roberts</h3>
                        <p>
                            <a href="http://www.mattroberts-dev.com">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/mattroberts-dev/">LinkedIn</a>
                        </p>
                    </div>



                </div>
                <div class="row">
                    <div class="testimonial-item col-md-3">
                        <a href="http://michaelredifer.com/" target="_blank"><img src="~/Content/img/classmates/michaelRedifer.jfif" class="testimonial-img" alt=""></a>
                        <h3>Michael Redifer</h3>
                        <p>
                            <a href="http://michaelredifer.com/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/michael-redifer-202288232/">LinkedIn</a>
                        </p>
                    </div>

                    <div class="testimonial-item col-md-3">
                        <a href="https://www.linkedin.com/in/romeo-bagunu/" target="_blank"><img src="~/Content/img/classmates/romeoBagunu.jfif" class="testimonial-img" alt=""></a>
                        <h3>Romeo Bagunu</h3>
                        <p>
                            <a href="">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/romeo-bagunu/">LinkedIn</a>
                        </p>
                    </div>

                    <div class="testimonial-item col-md-3">
                        <a href="http://mckinneywebdev.com/" target="_blank"><img src="~/Content/img/classmates/seanMckinney.jfif" class="testimonial-img" alt=""></a>
                        <h3>Sean McKinney</h3>
                        <p>
                            <a href="http://mckinneywebdev.com/">Website</a>
                            <br />
                            <a href="https://www.linkedin.com/in/sean-a-mckinney/">LinkedIn</a>
                        </p>
                    </div>
                </div>
                <div class="testimonial-item col-md-3">
                    <a href="http://zaksisler.com/" target="_blank"><img src="~/Content/img/classmates/zakarySisler.jfif" class="testimonial-img" alt=""></a>
                    <h3>Zakary Sisler</h3>
                    <p>
                        <a href="http://zaksisler.com/">Website</a>
                        <br />
                        <a href="https://www.linkedin.com/in/zakary-sisler/">LinkedIn</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>

@section scripts {

    @*<script src="~/Content/swiper/swiper-bundle.min.js"></script>*@

}

