
@{
    ViewBag.Title = "Links";
}


<section class="background-gray-lightest">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
        <h1>@ViewBag.Title</h1>
        <p class="lead">Check out my Centriq Training Classmates!</p>
    </div>
</section>
<section class="blog-post">
    <div class="container">


       
        <div class="row no-space padding-horizontal">
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-3.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 3"><img src="~/Content/img/portfolio-3.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-4.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 4"><img src="~/Content/img/portfolio-4.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-5.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 5"><img src="~/Content/img/portfolio-5.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-6.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 6"><img src="~/Content/img/portfolio-6.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-7.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 7"><img src="~/Content/img/portfolio-7.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-8.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 8"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-8.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 8"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-8.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 8"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="box"><a href="img/portfolio-8.jpg" title="" data-lightbox="portfolio" data-title="Portfolio image 8"><img src="~/Content/img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </div>
    </div>
</section>



