
@{
    ViewBag.Title = "StoreFrontApp";
}

<section class="background-gray-lightest">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
        <h1>@ViewBag.Title - Life in L.E.C.A</h1>
        <p><img src="~/Content/img/Storefront-thumbnail.png" alt="Example blog post alt" class="img-responsive"></p>
        <p class="lead" style="text-align: center;">Available at: <a href="http://storefront.kaylawin.com" target="_blank">storefront.kaylawin.com</a></p>
    </div>
</section>
<section class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="post-content margin-bottom--big">
                    <p>
                        The StoreFront Application is intended to showcase my ability to build fullstack web applications.
                        For this project, I had to build a mock e-commerce site. I designed the database that is used for the application. I
                        progressively expanded the functionality of this application throughout my MVC classes. When pushing content to the repo for this project, I ensured that all sensitive data is obscured.
                    </p>

                </div>
                <!-- /.post-content-->
            </div>
        </div>
    </div>
</section>

